{% extends "main_page.twig" %}

{% block main_page_content %}


<h1>History</h1>
<p>The hashing stats application was written by Alex Sheridan (Tender) of Sin City H4, with recent updates from Goes Down Dirty of Dayton H3. Kennels that use this application are listed <a href="https://hashstats.org/switch_kennels.html">here</a>.
</p>

<script type="text/javascript">
function e(a) {
  document.write(a.join(""));
}

e(["<p>Tender can be reached at <a href=\"ma",
  "ilto:alex.sheridan+iheartt",
  "ender",
  "@",
  "gm",
  "ail.com?subject=StatsApp\">alex.sheridan+iheartt",
  "ender",
  "@",
  "gm",
  "ail.com</a>.</p>"]);

e(["<p>Dirty can be reached at <a href=\"ma",
  "ilto:GoesDownDi",
  "rty",
  "@",
  "dayton",
  "hhh.org?subject=StatsApp\">GoesDownDi",
  "rty",
  "@",
  "dayton",
  "hhh.org</a>.</p>"]);
</script>

<h1>Contact Local Administrators</h1>
<p>If you see any errors in the stats (someone didn't get credit for being at a hash, an event time/location was entered in wrong, etc), you can contact the administrators of this instance at <a href="mailto:{{adminEmail}}">{{adminEmail}}</a>.</p>

<h4>Version: v1.1.0-alpha</h4>

{% endblock %}
